{% set colorClass = ['', 'is-warning', 'is-active', 'is-danger'] %}
<div id="pricing" class="has-margin-bottom-30">
    <div class="intro">
        <h2 class="title">Pricing</h2>
        <p class="subtitle">
            Choose best option for You
        </p>
    </div>

    <div class="pricing-table">
        {% for plan in plans %}
            <div class="pricing-plan {{ colorClass[loop.index0] is defined ? colorClass[loop.index0] : '' }}">
                <div class="plan-header">{{ plan.getName() }}</div>
                <div class="plan-price"><span class="plan-price-amount"><span class="plan-price-currency">$</span>{{ plan.getPricePerMonth() | price }}</span>/month
                </div>
                <div class="plan-items">
                    <div class="plan-item">Option 1</div>
                    <div class="plan-item">Option 2</div>
                    <div class="plan-item">Option 3</div>
                    <div class="plan-item">{{ plan.getPricePerYear() > 0 ? 'Price per year: ' ~ (plan.getPricePerYear() | price)~'$' : '-'  }}</div>
                </div>
                <div class="plan-footer">
                    <a href="{{ path('pricing_order', {'id': plan.getId()}) }}" class="button is-fullwidth">Choose</a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>